body {
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
}

input#description {
    flex: 2;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#addTodo {
    background-color: #ffa500;
    color: #fff;
}

.todo-list {
    margin-top: 20px;
}

.todo-item {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item.completed .task h2,
.todo-item.completed .task p {
    text-decoration: line-through;
    color: #777;
}

.task {
    flex: 1;
}

.task h2 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.task p {
    margin: 0;
    color: #aaa;
}

.buttons {
    display: flex;
    gap: 10px;
}

button.complete {
    background-color: #00cc66;
    color: #fff;
}

button.delete {
    background-color: #ff4d4d;
    color: #fff;
}